
[hub]
protocol = https

[user]
	name = agirlnamedsophia
 email = sophia.russell@betterment.com
[push]
	default = simple
[core]
	excludesfile = /Users/sophiarussell/.gitignore_global
	hooksPath = /Users/sophiarussell/.git-templates/hooks
	editor = /usr/bin/vim
[credential]
	helper = osxkeychain
[url "ssh://git@github.com"]
	insteadOf = https://github.com

[commit]
  verbose = true
[alias]
	sl = log --oneline --decorate -20
	dlog = log --oneline --decorate -20
	dlog-all = log --oneline --decorate --graph --all -20
	slaplog = log --oneline --decorate --graph --all
[init]
	templatedir = /Users/sophiarussell/.git-templates
